/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
 
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul,
ol {
  list-style-type: none;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
}
.gallery {
  
  padding: 24px 156px 24px 156px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.gallery-item {
  width: 360px;
  height: auto;
  transition: transform 0.3s ease;
  
  flex: 1 1 360px;
}
.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-link {
  display: block;
  text-decoration: none;
}
.gallery-image {
 width: 100%;
 height: auto;
display: block;


}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
padding: 24px;
width: 408px;
height: 296px;
background: #fff;
margin: 40px auto;
padding: 20px;

  width: 360px;
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
}
form.feedback-form label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #2e2f42;
}
.email {
  border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 40px;
}
.message {
  border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 80px;
}
.submit-btn {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border-radius: 8px;
padding: 8px 16px;
width: 95px;
height: 40px;
background: #4e75ff;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px; 
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
}
.submit-btn:hover {
  background: #6c8cff;
}

